@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Almarai', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 64px 32px;

  @include breakpoint(lg) {
    padding: 64px 9vw;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}