@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap");

// Colors
$primary: #5c524d;
$dark: #5d5d5d;
$hrcolor: #d5d5d5;
$bgcolor: #fafafa;
$textcolor: #757575;
$titlecolor: #212121;
$accent: #86EAAE;
$bright: #FC732F;

// Breakpoints
$bp-lg: 768px;
$bp-md: 480px;

h1, h2 {
  font-family: 'Almarai', sans-serif;
}

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: $bp-md) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $bp-lg) {
      @content;
    }
  }
}