@import "./../styles/variables.scss";

hr {
  height: 1px;
  border: none;
  background-color: $hrcolor;
}

.topsection {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
    gap: 10vw;
    justify-content: space-between;
  }

  @include breakpoint(lg) {
    flex-direction: row;
    gap: 10vw;
    justify-content: space-between;
  }

  &__image {
    flex-shrink: 1;
    display: flex;
    align-items: flex-start;

    img {
      width: 100%;
      height: auto;
    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 64px;

    @include breakpoint(md) {
      width: 50vw;
      padding-top: 0;
    }

    @include breakpoint(lg) {
      width: 50vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    h1 {
      font-weight: 800;
      font-size: 40px;
      color: $titlecolor;

      @include breakpoint(lg) {
        grid-column: 1 / span 2;
      }
    }

    &__inputgroup {      
      border: 1px solid $dark;
      border-radius: 4px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $bgcolor;
      gap: 12px;
      min-height: 80px;
      width: 100%;

      span {
        font-size: 16px;
        color: $textcolor;
      }

      input {        
        border: none;
        outline: none;
        font-size: 20px;
        color: $titlecolor;
        background-color: $bgcolor;
        box-sizing: border-box;
        width: 100%;
      }
    }

    &__mobile {
      background-color: white;

      input {
        background-color: white;
      }
    }

    &__name {
      @include breakpoint(lg) {
        grid-column: 1 / span 2;
      }
    }
  }
}

.configuration {
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  h2 {
    font-weight: 400;
    font-size: 32px;

    @include breakpoint(lg) {
      font-size: 36px;
    }
  }

  &__details {
    summary {
      cursor: pointer;
      list-style: none;
      border: 1px solid $hrcolor;
      padding: 32px;
      font-size: 20px;
      font-weight: 700;
    }

    &__parent {
      display: flex;   
      gap: 32px;
      align-items: baseline;

      details {
        flex-grow: 1;
        div {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding: 32px;
          border: 1px solid $hrcolor;
    
          h3 {
            font-weight: 400;    
            font-size: 20px;    
          }
        }    
      }

      details[open] {
        background-color: $bgcolor;
      }
      
      input[type="radio"] {
        cursor: pointer;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding-left: 47px;
    gap: 32px;

    @include breakpoint(md) {
      flex-direction: row;
    }
    @include breakpoint(lg) {
      flex-direction: row;
    }

    &__update {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: $bright;
      padding: 17px;
      color: white;
      font-weight: 700;
      border-radius: 4px;
    }

    &__cancel {
      border: 2px solid $bright;
      color: $bright;
      border-radius: 4px;
      padding: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
    }
  }
}