@import "./../styles/variables.scss";

.mcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);

  &__modal {
    position: fixed;
    top: 100px;
    background-color: white;
    width: 350px;
    height: 360px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 20px;
    transition: 0.3s ease width;
    
    @include breakpoint(md) {
      width: 480px;
    }

    @include breakpoint(lg) {
      width: 574px;
    }

    p {
      text-align: center;
    }
  }
}