@import "./../styles/variables.scss";

.header {
  height: 80px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: $primary;
  color: white;
  transition: 0.3s ease all;
  @include breakpoint(lg) {
    padding: 0 9vw;
    height: 100px;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      height: 32px;

      @include breakpoint(lg) {
        height: 46px;
      }
      @include breakpoint(md) {
        height: 40px;
      }
    }
  }

  &__menubtn, &__logoutbtn {
    width: 20.5px;

    @include breakpoint(lg) {
      display: none;
    }
  }

  &__menu {
    display: none;
    @include breakpoint(lg) {
      display: block;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 40px;

      li {
        position: relative;

        a {
          color: white;
          text-decoration: none;
          font-size: 18px;
          font-weight: 700;
          opacity: .75;
          text-shadow: 2px 2px #00000040;
        }

        a:hover, a[class="active"] {
          opacity: 1;
        }
 
        a::after {
          content: "";
          background: $accent;
          display: block;
          position: absolute;
          top: 50px;
          width: 0%;
          height: 10px;
          transition: 0.5s ease all;
        }
        
        a[class="active"]::after {
          content: "";
          background: $accent;
          display: block;
          position: absolute;
          top: 50px;
          width: 100%;
          height: 10px;
        }   
      }
    }
  }
}