@import "./../styles/variables.scss";

.popupmenu {
  height: 100vh;
  position: absolute;
  right: 0;
  left: 0;
  background-color: $primary;
  top: 80px;

  ul {
    padding: 0 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 20px;

    li {
      display: flex;
      
      a {
        padding: 16px 0;
        width: 100%;
        text-decoration: none;
        font-size: 18px;
        color: white;
        opacity: 0.75;
      }

      a[class="active"] {
        border-bottom: 2px solid $accent;
        opacity: 1;
      }
    }


  }
}